* {
  box-sizing: border-box;
}

.input {
  display: inline-block;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  outline: none;
  width: 100%;
}


.timeline_cont {
  width: 500px;
  height: 500px;
}
 
.timeline {
  width: 500px;
  padding: 15px;
  overflow: hidden;
  border: 1px solid #ced4da;
  height: 500px;
}

.timeline_input_cont {
  display: flex;
  align-items: end;
  
}


